html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

p, li {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0;
    border: 0;
    font-size: 18px;
}

li {
    margin: 0 0 10px 0;
}

#wrapper {
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
    display: flex;
}

.logo {
    width: 10%;
    background-color: black;
}

.logo img {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

.collapsible-menu {
    width: 90%;
    background-color: black;
}

nav.navMenu {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    padding-left: 5%;
    padding-right: 5%;
    background: black;
    margin: auto;
}

nav.navMenu ul {
    list-style: none;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

nav.navMenu li {
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 2px solid white;
}

nav.navMenu li:last-of-type {
    border-right: none;
}

nav.navMenu li a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 1% 1% 1% 1%;
}

nav.navMenu li a:hover:not(.active) {
    text-decoration: none;
    font-size: 18px;
    background-color: rgb(80, 80, 80);
}

nav.navMenu .active {
    background-color: rgb(58, 58, 58);
}

input#menu, label {
    display: none;
}

#more {
    display: none;
}

.read-more-btn {
    padding: 0;
    background-color: white;
    color: #1772d0;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.read-more-btn:hover {
    color: #f09228;
}

a {
    color: #1772d0;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

a.papertitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

i.fas, i.fab {
    font-size: 24px;
    color: rgb(37, 37, 37)
}

a:hover i.fas, a:hover i.fab {
    color: #f09228;
}

ul li i.fas, ul li i.fab {
    font-size: 24px;
    color: white
}

ul li a:hover i.fas, ul li a:hover i.fab {
    color: #f09228;
}

section a:hover {
    color: #f09228;
    text-decoration: none;
    font-size: 18px;
}

section {
    overflow: auto;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-bottom: 1%;
    margin-top: 1%;
}

aside {
    width: 20%;
    float: left;

    padding-right: 2%;
}

aside img {
    width: 100%;
    float: left;
    min-width: 120px;
    max-width: 180px;
}

article {
    width: 78%;
    float: left;
}

.social-footer {
    padding: 1px;
    background: black;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

footer li {
    display: inline;
    padding-right: 5px;
}

@media only screen and (min-width:1300px) and (max-width: 1800px) {
    section {
        width: 55%;
        margin-left: 22.5%;
        margin-right: 22.5%;
    }
}

@media only screen and (min-width:800px) and (max-width: 1300px) {
    
    .logo {
        width: 15%;
        background-color: black;
    }
    
    .logo img {
        width: 50%;
        padding-left: 25%;
        padding-right: 25%;
    }
    
    .collapsible-menu {
        width: 85%;
        background-color: black;
    }
    
    section {
        width: 65%;
        margin-left: 17.5%;
        margin-right: 17.5%;
    }

    article, aside {
        width: 98%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
    }

    aside img {
        display: block;
        width: 50%;
        max-width: 180px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width:480px) and (max-width: 800px) {
    
    .logo {
        width: 20%;
        background-color: black;
    }
    
    .logo img {
        width: 50%;
        padding-left: 25%;
        padding-right: 25%;
    }
    
    .collapsible-menu {
        width: 80%;
        background-color: black;
    }
    
    
    section {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    article, aside {
        width: 98%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
    }

    aside img {
        display: block;
        width: 50%;
        max-width: 180px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:480px) {
   
    .logo {
        width: 20%;
    }

    .logo img {
        width: 100%;
        padding: 0;
    }

    .collapsible-menu {
        width: 80%;
        height: auto;
    }

    .collapsible-menu label {
        display: block;
        cursor: pointer;
        background: url(graphics/menu.png) right center no-repeat;
        padding: 50px 0 50px 0;
    }

    input:checked+label {
        background-image: url(graphics/close.png);
    }

    nav.navMenu {
        max-height: 0;
        overflow: hidden;
        padding: 0 0 0 50px;
    }

    /* Toggle Effect */
    input:checked~label {
        background-image: url(graphics/close.png);
    }

    input:checked~nav.navMenu {
        max-height: 100%;
    }

    nav.navMenu ul{
        padding: 0;
    }
    nav.navMenu li {
        display: block;
        width: 100%;
        border-right: 0;
        min-height: 45px;
        padding: 0;
        margin: 0;
    }

    nav.navMenu li a {
        font-size: 24px;
    }

    nav.navMenu li a:hover:not(.active) {
        text-decoration: none;
        font-size: 24px;
        background-color: rgb(80, 80, 80);
    }

    section {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    article, aside {
        width: 98%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
    }

    aside img {
        display: block;
        width: 50%;
        max-width: 160px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Things to do when I have more time (1)dark mode*/