html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0;
    border: 0;
    padding-bottom: 10px;
}

papertitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#wrapper {
    width: 100%;
}

header {
    color: black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    text-align: center;
}

nav.navMenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    background: #8a8a8a;
}

nav.navMenu ul {
    list-style: none;
    width: 90%;
    padding: 1%;
    margin: 0;
    overflow: hidden;
}

nav.navMenu li {
    display: inline;
}

nav.navMenu li:last-of-type {
    border-right: 0px;
}

nav.navMenu li a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 1%;
}

nav.navMenu li a:hover:not(.active) {
    color: #292624;
    text-decoration: none;
    font-size: 16px;
}

nav.navMenu .active {
    background-color: rgb(58, 58, 58);
}

a {
    color: #1772d0;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

i.fas, i.fab {
    font-size: 24px;
    color: rgb(37, 37, 37)
}

a:hover i.fas, a:hover i.fab {
    color: #f09228;
}

ul li i.fas, ul li i.fab {
    font-size: 24px;
    color: white
}

ul li a:hover i.fas, ul li a:hover i.fab {
    color: #f09228;
}

section a:hover {
    color: #f09228;
    text-decoration: none;
    font-size: 16px;
}

section {
    overflow: auto;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-bottom: 1%;
    margin-top: 1%;
}

aside {
    width: 20%;
    float: left;
    align-items: left;
    padding-right: 2%;
}

aside img {
    width: 100%;
    float: left;
    min-width: 120px;
    max-width: 180px;
}

article {
    width: 78%;
    float: left;
}

.social-footer {
    padding: 1px;
    background: #8a8a8a;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

footer li {
    display: inline;
    padding-right: 5px;
}

@media only screen and (min-width:1300px) and (max-width: 1800px) {
    section {
        width: 55%;
        margin-left: 22.5%;
        margin-right: 22.5%;
    }
}

@media only screen and (min-width:800px) and (max-width: 1300px) {
    section {
        width: 65%;
        margin-left: 17.5%;
        margin-right: 17.5%;
    }
    article, aside {
        width: 98%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
    }
    aside img {
        display: block;
        width: 50%;
        max-width: 180px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width:540px) and (max-width: 800px) {
    section {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    article, aside {
        width: 98%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
    }
    aside img {
        display: block;
        width: 50%;
        max-width: 180px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:540px) {
    section {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    article, aside {
        width: 98%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
    }
    aside img {
        display: block;
        width: 50%;
        max-width: 160px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Things to do when I have more time (1)dark mode*/