
  a {
    color: #1772d0;
    text-decoration: none;
  }
  
  a:focus,
  a:hover {
    color: #f09228;
    text-decoration: none;
  }
  
  body,
  td,
  th,
  tr,
  p,
  a {
    font-family: 'Arial', Verdana, Helvetica, sans-serif;
    font-size: 16px
  }
  
  strong {
    font-family: 'Arial', Verdana, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  heading {
    font-family: 'Arial', Verdana, Helvetica, sans-serif;
    font-size: 32px;
  }
  
  papertitle {
    font-family: 'Arial', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;

  }
  
  name {
    font-family: 'Arial', Verdana, Helvetica, sans-serif;
    font-size: 36px;
  }
  

  .one {
    width: 160px;
    height: 160px;
    position: relative;
  }
  
  
  .fade {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
  }
  
  span.highlight {
    background-color: #ffffd0;
  }

   @media(max-width: 800px){
    .table thead{
      display: none;
    }

    .table, .table tbody, .table tr, .table td{
      display: block;
      width: 100%;
    }
  } 